<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>南京航空航天大学毕业设计（论文）格式模板-2020.dotx</Template><Pages>57</Pages><Words>1378</Words><Characters>3043</Characters><Lines>299</Lines><Paragraphs>84</Paragraphs><TotalTime>13</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>3414</CharactersWithSpaces><Application>WPS Office_12.1.0.25865_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>